
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
*.exe
*.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/main.cpp.obj
cmake-build-default-mingw/.ninja_log
*.log
cmake-build-default-mingw/Testing/Temporary/LastTest.log
cmake-build-default-mingw/igor_shit.exe
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/Piece.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/main.cpp.obj
cmake-build-default-mingw/.ninja_log
