
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
*.exe
*.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/main.cpp.obj
cmake-build-default-mingw/.ninja_log
*.log
cmake-build-default-mingw/Testing/Temporary/LastTest.log
cmake-build-default-mingw/igor_shit.exe
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/Piece.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/main.cpp.obj
cmake-build-default-mingw/.ninja_log
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_log
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/main.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/Piece.cpp.obj
cmake-build-default-mingw/igor_shit.exe
cmake-build-default-mingw/Testing/Temporary/LastTest.log
cmake-build-default-mingw/Testing/Temporary/LastTest.log
cmake-build-default-mingw/igor_shit.exe
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/Piece.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/main.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/Chessboard.cpp.obj
cmake-build-default-mingw/.ninja_log
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_deps
cmake-build-default-mingw/.ninja_log
cmake-build-default-mingw/.ninja_log
cmake-build-default-mingw/.ninja_log
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/Chessboard.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/ChessPosition.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/main.cpp.obj
cmake-build-default-mingw/CMakeFiles/igor_shit.dir/Piece.cpp.obj
cmake-build-default-mingw/igor_shit.exe
cmake-build-default-mingw/Testing/Temporary/LastTest.log
.idea/.name
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-eb1a622b68cb659b8cf8.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-16434d865f9431d854ee.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8cefd8456fba345ca84b.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2022-05-04T14-50-19-0455.json
cmake-build-debug/.cmake/api/v1/reply/target-igor_shit-Debug-d93d339157d22f26b0c7.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ddb7805e9408c1b9ef8c.json
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.22.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/Makefile
cmake-build-debug/igor_shit.cbp
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/igor_shit.dir/progress.make
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/igor_shit.dir/objects1.rsp
cmake-build-debug/CMakeFiles/igor_shit.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/igor_shit.dir/build.make
cmake-build-debug/CMakeFiles/igor_shit.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/igor_shit.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/igor_shit.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/igor_shit.dir/depend.make
cmake-build-debug/CMakeFiles/igor_shit.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/igor_shit.dir/flags.make
cmake-build-debug/CMakeFiles/igor_shit.dir/link.txt
